/* Add your code in each class */
body {
  background-color: rgb(97, 13, 176);
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.movie-card {
  position: relative;
  justify-content: flex-start;
}
.movie-image {
  height: 400px;
  width: 400px;
  background-image: url("../assets/harrypotter.jpg");
  object-fit: cover;
  object-position: 0 0;
  z-index: -1;
}
.movie-details-container {
  position: absolute;
  text-align: left;
  height: 400px;
  width: 400px;
  top: 0;
}
.descriptions {
  position: relative;
  color: white;
  top: 75%;
  left: 2%;
}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.movie-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
